port = 47886
multicastAddress = 231.231.231.231
multicastPort = 47688
frequenza = 30
jsonHotelPath = .\\src\\Hotels.json
jsonUtentiPath = .\\src\\Utenti.json
citiesSet = Torino,Milano,Venezia,Trieste,Genova,Bologna,Firenze,Ancona,L'Aquila,Roma,Napoli,Potenza,Campobasso,Bari,Reggio Calabria,Catanzaro,Palermo,Cagliari,Trento,Bolzano